*.[oa]
*.~
*.e
.DS_Store
results/
obj/
tests/
*.pyc
*.dylib
MUSIChydro
perf.data*
a.out
build/
MUSIChydro
*.dylib
*.so
music_input*
final_data_files/acausality-stuff/run4XL-echo+/evolution_all_xyeta.dat
final_data_files/acausality-stuff/run4XL-echo+v2/evolution_all_xyeta.dat
final_data_files/acausality-stuff/run4XL-echo+/evolution_for_movie_xyeta.dat
final_data_files/acausality-stuff/run4XL-echo+v2/evolution_for_movie_xyeta.dat
final_data_files/acausality-stuff/old/run4XL-echo+/evolution_all_xyeta.dat
final_data_files/acausality-stuff/old/run4XL-echo+v2/evolution_all_xyeta.dat
final_data_files/acausality-stuff/old/run4XL-echo+/evolution_for_movie_xyeta.dat
final_data_files/acausality-stuff/old/run4XL-echo+v2/evolution_for_movie_xyeta.dat
final_data_files/acausality-stuff/run4XL-echo+v4/evolution_for_movie_xyeta.dat
final_data_files/acausality-stuff/run4XL-echo+v3/evolution_for_movie_xyeta.dat
*evolution_all_xyeta.dat
*evolution_for_movie_xyeta.dat
!final_data_files/acausality-stuff/run_paper_zovs8_QRVoffx`/evolution_all_xyeta.dat
